@media print {
      /* insert your style declarations here */
    #mainmenu{
 display:none;
}
#logo {
	display:none;
}
.pager{display:none;
}
.portlet {display:none; }
#filter-form{display:none; }
#footer {display:none; }
#header{display:none;
	}
	#myslidemenu{display:none;
	}
.jqueryslidemenu{ display:none; }
.breadcrumbs {display:none; }
#destination-search { display:none;}

#pagebreakhere {
	page-break-after:always; !important
	
	}
	.printtable {
 display:block;
}
}
